html{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	margin:0;
	padding:0;
	text-align: center;
	background-color: Lavender;
}

header{
	text-align: left;
	padding: 0px;
	height: 80px;
	margin: 0;
	min-width: 100%;
	position: fixed;
	z-index:1;
	background-color:rgba(119, 136, 136, 0.8);
	box-shadow: 0 5px 40px 5px rgba(0, 0, 0, 0.3);
}
header h1{
	font-family: 'Raleway';
	font-weight: 400;
	padding-left: 50;
	padding-top: 5px;
	color:white;
}	
#welcome {
	height: 100vh;
}

#welcome h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 42px;
	padding-top: 40vh;
	margin-bottom: 6px;
	color: #1a1a1a

}

#welcome h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	margin-top: 10px;
	color: #333333;
}

#intro{
	background-color: white;
	height: 80vh;
}

#return-top{
	width: 40px;
	height: 40px;
	border: 2px solid black;
	background-color: #333;
	border-radius: 15px;
}

#table p{
	font-family: 'Roboto', sans-serif;
}

table{
	margin: auto;
	border-collapse: collapse;
	width: 85%;
	background-color: white;
}
th{
	border-right: 3px solid white;
	border-left:  3px solid white;
}
table tr td:first-child a{
	visibility: visible;
	text-decoration: none;
	color: black;
}
table tr td:nth-child(3) a{
	visibility: hidden;
	color: white;
	text-decoration:none;
}
table tr:hover a:nth-child(n){
	visibility: visible;
}
table tr:nth-child(even){
	background-color: #f2f2f2;
}
table tr:not(:first-child):hover{
	background-color: LightGrey;
}

#table{
	margin: 30px auto 60px auto;
	width: 65%;
	border: 3px solid black;
	border-radius: 20px;
	background: white;
}
th, td {
	padding: 10px 10px 10px 15px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
}
td {
	font-size: 18px;
}
table td:nth-child(2){
	font-style: italic;
	font-size: 14px;
	color: #474747;
}
#container {
	border: 3px solid black;
	border-radius: 50px;
	width: 40%;
	margin: 100px auto 50px auto;
	background: white;

}
#container p{
	font-size:26px;
}
#domain{
	font-weight: bold;
	color: black;
	font-size:30px;
}
.button {
    background-color: LightSteelBlue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
	font-weight: bold;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid LightSteelBlue;
	border-radius: 5px;
}

.button1:hover {
    background-color: LightSteelBlue;
    color: white;
}
footer{
	margin-top: 50px;
}

#info {
	border: 2px solid black;
	border-radius: 20px;
	background: white;
	width: 45%;
	height: auto;
	margin: auto;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 2;
}
#info a{
	color: black;
}
/* Scroll Top button */

.to-top { 	
	position: fixed; 
	bottom: 20; 
	right: 20; 
	text-decoration: none; 
	color: #fff; 
	background: #000; 
	padding: 10px 20px; 
}
.to-top:hover{ 
	background: #d7d7d7; 
	color: #000; 
}

/* Animate the .fade-scroll */

.fade-scroll h1, .fade-scroll h4 {
    transition: all 0.8s ease;
}

.fade-scroll {
	overflow: hidden;
	width: 100%;
}
.fade-scroll.hidden h1 {
    opacity: 0;
    transform: translate(-800px, 0);
}
.fade-scroll.hidden h4 {
    opacity: 0;
    transform: translate(800px, 0);
}

/* Rotate Styles */

.content {
  position: absolute;
  top: 95vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 50px;
  color: #333333;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 50px;
}
.content__container:before {
  content: '[';
  left: 0;
}
.content__container:after {
  content: ']';
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #7E88C9;
  font-size: 48px;
  line-height: 48px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  position: absolute;
  right: 20;
  text-align:right;
  margin: 0;
  margin-right: 30px;
}
.content__container__list {
  margin-top: 0;
  padding-right: 130px;
  text-align: right;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
